:root {
    --green: #797D62; 
    --brown: #351804;
    --yellow: #F1DCA7;
    --sand: #D9AE94;
    --bright-yellow: #FFCB69;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--green);
}

h2 {
    color: var(--brown);
}

h4 {
    color: var(--yellow);
}

/* DESCRIPTION */

#description {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.timer-container {
    width: 280px;
    height: 35px;
    background-color: #f9f6f2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

#timer {
    width: 200px;
    height: 25px;
    background-color: rgb(235, 161, 66);
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
}

/* GAMEBOARD */

#board {
    max-width: 680px;
    background-color: var(--green);
    border-radius: 10px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin: 10px;
    transform-style: preserve-3d;
    transition: 0.8s;
}

.card:active {
    transform: scale(0.95);
    transition: transform 5ms;
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
}

.front {
    background-image: url(/memory-game/img/back-image.png);
    background-size: contain;
    border-radius: 10px;
}

.back {
    transform: rotateY(180deg);
}

.flip-card {
    transform: rotateY(180deg);
}

.card.pair {
    opacity: 0;
}

/* --- MODAL --- */
#modal-container.show {
    opacity: 1;
}

#modal-container {
    opacity: 0;
    transition: opacity 0.3s ease;
    width: 600px;
    height: 300px;
    background-color: var(--sand);
    border: 20px solid var(--yellow);
    border-radius: 40px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

h1 {
    font-size: 60px;
}

#score-container {
    display: flex;
    align-items: center;
}

#curr-score, #high-score {
    padding: 5px;
    font-weight: bold;
}

#play-again-btn {
    width: 90px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: var(--bright-yellow);
}


