:root {
    --green: #797D62; 
    --brown: #351804;
    --yellow: #F1DCA7;
    --sand: #D9AE94;
    --bright-yellow: #FFCB69;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--green);
}

h2 {
    color: var(--brown);
}

h4 {
    margin-top: 8px;
    color: var(--yellow);
}

#board {
    width: 800px;
    height: 600px;
    background-color: var(--green);
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: calc(25% - 20px);
    height: calc(33.33% - 20px);
    border-radius: 10px;
    margin: 10px;
    transform-style: preserve-3d;
    transition: 0.8s;
}

.card:active {
    transform: scale(0.95);
    transition: transform 5ms;
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
}

.front {
    background-image: url(/memory-game/img/back-image.png);
    background-size: contain;
    border-radius: 10px;
}

.back {
    transform: rotateY(180deg);
}

.flip-card {
    transform: rotateY(180deg);
}

.card.pair {
    opacity: 0;
    transition: opacity 1s linear;
}

/* --- MODAL --- */
#modal-container {
    width: 600px;
    height: 300px;
    background-color: var(--sand);
    border-radius: 15px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#inner-modal {
    width: 95%;
    height: 90%;
    background-color: var(--yellow);
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 80px;
    text-align: center;
    margin-top: 70px;
}

#button-container {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

#play-again-btn {
    width: 90px;
    padding: 5px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--bright-yellow);
}

/* DESCRIPTION */

#description {
    text-align: center;
    margin-top: 20px;
}